<?xml version="1.0" encoding="utf-8"?>
<module type="EPiServerTemplating.Templates.TemplatesModule, EPiServerTemplating">
  <assemblies>
    <!-- This adds the Alloy template assembly to the "default module" -->
    <add assembly="EPiServerTemplating" />
  </assemblies>
  <clientResources>
    <add name="epi-cms.widgets.base" path="Styles/Styles.css" resourceType="Style"/>
  </clientResources>
  <dojo>
    <!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
    <paths>
      <add name="alloy" path="Scripts" />
    </paths>
  </dojo>
  <clientModule initializer="alloy.TemplateSystem.TemplateModule">
    <moduleDependencies>
      <add dependency="Shell"/>
      <add dependency="CMS" type="Require RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>
