<?xml version="1.0" encoding="utf-8"?>
<module type="EPiServer.InstantTemplates.TemplatesModule, EPiServer.InstantTemplates" loadFromBin="false" clientResourceRelativePath="" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="EPiServer.InstantTemplates" />
  </assemblies>
  <dojo>
    <!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
    <paths>
      <add name="instantTemplates" path="clientresources/Scripts" />
    </paths>
  </dojo>
  <clientModule initializer="instantTemplates.TemplateModule">
    <moduleDependencies>
      <add dependency="CMS" type="Require RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>
