<?xml version="1.0" encoding="utf-8"?>
<module type="EPiServer.InstantTemplates.TemplatesModule, EPiServer.InstantTemplates" loadFromBin="false" clientResourceRelativePath="" tags="EPiServerModulePackage">
  
  <assemblies>
    <add assembly="EPiServer.InstantTemplates" />
  </assemblies>
  
  <dojo>
    <packages>
      <add name="instantTemplates" location="ClientResources\Scripts" />
    </packages>
  </dojo>
  
  <clientModule initializer="instantTemplates.TemplateModule">
    <moduleDependencies>
      <add dependency="CMS" type="Require RunAfter" />
    </moduleDependencies>
  </clientModule>

</module>
